body {
    marign: 0;
    height: 100vh;
    background: linear-gradient(#7dd2f0, #dbf6d9);
}
a {
    text-decoration: none;
}

/*----------------------- header ------------------------*/
header {
    display: block;
    padding: 32px 0;
    width: 100%;
    height: 100px;
    border-bottom: 1px #fff solid;
}

header > div,
header > div > div {
    height: 100%;
}

header .nav {
    display: flex;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

header > div,
article {
    margin: 0 auto;
    width: 100%;
    max-width: 1024px;
}

.nav-btn {
    float: right;
    font-size: 1rem;
    font-weight: 500;
    color: #7dd2f0;
    margin: auto 5px;
    padding: 8px 22px;
    border-radius: 8px;
    background-color: #fff;
    transition: all 0.2s ease-in-out;
    width: 120px;
    text-align: center;
}

.nav-btn:hover {
    text-decoration: none;
    background-color: #e9fbff;
    color: #7dd2f0;
}

.body {
    margin: 0;
    padding: 120px 0;
}

.title-body {
    font-size: 20px;
    margin-bottom: 12px;
}

h1.title-name {
    color: #fff;
    font-size: 36px;
}

.title {
    width: 100%;
    color: #fff;
    margin: 60px auto;
    text-align: center;
}

.nav-item {
    width: 120px;
    text-align: center;
}

.log-in-section {
    width: 100%;
}

.log-in {
    display: block;
    width: 280px;
    margin: 0 auto;
}

.button {
    display: block;
    width: 100%;
    height: 100%;
    margin: 16px 0;
}

.or {
    display: block;
    font-size: 14px;
    color: #fff;
    margin: 20px auto;
    text-align: center;
}

.buttons {
    flex-wrap: nowrap;
}

/*ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ 코멘트 ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ*/

body > article {
    display: block;
    color: black;
    margin: 32px 0;
}

.wrap {
    top: 0;
    margin: auto;
}

.wrap > div {
    padding: 20px;
    width: 360px;
    height: 100%;
    border: 1px #fff solid;
    border-radius: 1rem;
}

#post-box {
    width: 500px;
    margin: 20px auto;
    padding: 50px;
    border: black solid;
    border-radius: 5px;
}

.card-text {
    margin-bottom: 12px;
}
