<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Moodic | 행복한 하루를 위한 플레이리스트</title>
        <link rel="stylesheet" type="text/css" href="../static/css/style.css" />

        <link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css" />
        <link rel="stylesheet" href="{{ url_for('static', filename='/style.css') }}" />
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

        <!-- Popper JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </head>
    <body>
        <header class="container-fluid">
            <div class="nav row">
                <div class="col-6 align">
                    <a href="index.html" target="_self">
                        <img src="../static/logo-01.png" alt="Canvas logo" style="width: 148px" />
                    </a>
                </div>

                <div class="col-6 align">
                    <a class="nav-btn" href="login.html" target="_self">로그인</a>
                    <a class="nav-btn" href="signup.html" target="_self">회원가입</a>
                </div>
            </div>
        </header>

        <div class="intro">
            <p>MOODIC은 기분에 따른 음악 추천 서비스입니다.</p>
        </div>

        <article class="container-fluid">
            <div class="row mood">
                <div class="col-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">기분 좋은 날에</h5>
                            <a href="#" class="mood">#잔잔한</a>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">기분 좋은 날에</h5>
                            <a href="#" class="mood">#잔잔한</a>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">기분 좋은 날에</h5>
                            <a href="#" class="mood">#잔잔한</a>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">기분 좋은 날에</h5>
                            <a href="#" class="mood">#잔잔한</a>
                        </div>
                    </div>
                </div>
            </div>
        </article>

        <article class="container-fluid">
            <div class="row justify-content-between align-items-start">
                <section class="col-8">
                    <section class="accordion" id="accordionExample" style="margin-bottom: 32px">
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <h2 class="mb-0">
                                    <button
                                        class="btn btn-link text-muted collapsed"
                                        type="button"
                                        data-toggle="collapse"
                                        data-target="#collapseOne"
                                        aria-expanded="true"
                                        aria-controls="collapseOne"
                                    >
                                        코딩할 때 듣는 lo-fi
                                    </button>
                                </h2>
                            </div>

                            <div
                                id="collapseOne"
                                class="collapse"
                                aria-labelledby="headingOne"
                                data-parent="#accordionExample"
                            >
                                <div class="card-body">
                                    <div class="list-group list-group-flush">
                                        <a
                                            href="https://www.youtube.com/watch?v=bwC1112Wh_o&t=853s"
                                            target="_blank"
                                            class="list-group-item list-group-item-action list"
                                        >
                                            <div class="d-inline-flex w-100 justify-content-start">
                                                <img
                                                    src="../static/thumb.png"
                                                    style="width: 140px; height: 80px"
                                                />
                                                <div class="list-body">
                                                    <h5>노래 제목</h5>
                                                    <span>가수</span>
                                                    <p>조회수 '12만회'</p>
                                                </div>
                                            </div>
                                        </a>
                                        <a
                                            href="https://www.youtube.com/watch?v=bwC1112Wh_o&t=853s"
                                            target="_blank"
                                            class="list-group-item list-group-item-action list"
                                        >
                                            <div class="d-inline-flex w-100 justify-content-start">
                                                <img
                                                    src="../static/thumb.png"
                                                    style="width: 140px; height: 80px"
                                                />
                                                <div class="list-body">
                                                    <h5>노래 제목</h5>
                                                    <span>가수</span>
                                                    <p>조회수 '12만회'</p>
                                                </div>
                                            </div>
                                        </a>
                                        <a
                                            href="https://www.youtube.com/watch?v=bwC1112Wh_o&t=853s"
                                            target="_blank"
                                            class="list-group-item list-group-item-action list"
                                        >
                                            <div class="d-inline-flex w-100 justify-content-start">
                                                <img
                                                    src="../static/thumb.png"
                                                    style="width: 140px; height: 80px"
                                                />
                                                <div class="list-body">
                                                    <h5>노래 제목</h5>
                                                    <span>가수</span>
                                                    <p>조회수 '12만회'</p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="accordion" id="accordionExample" style="margin-bottom: 32px">
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <h2 class="mb-0">
                                    <button
                                        class="btn btn-link text-muted collapsed"
                                        type="button"
                                        data-toggle="collapse"
                                        data-target="#collapseOne"
                                        aria-expanded="true"
                                        aria-controls="collapseOne"
                                    >
                                        코딩할 때 듣는 lo-fi
                                    </button>
                                </h2>
                            </div>

                            <div
                                id="collapseOne"
                                class="collapse"
                                aria-labelledby="headingOne"
                                data-parent="#accordionExample"
                            >
                                <div class="card-body">
                                    <div class="list-group list-group-flush">
                                        <a
                                            href="https://www.youtube.com/watch?v=bwC1112Wh_o&t=853s"
                                            target="_blank"
                                            class="list-group-item list-group-item-action list"
                                        >
                                            <div class="d-inline-flex w-100 justify-content-start">
                                                <img
                                                    src="../static/thumb.png"
                                                    style="width: 140px; height: 80px"
                                                />
                                                <div class="list-body">
                                                    <h5>노래 제목</h5>
                                                    <span>가수</span>
                                                    <p>조회수 '12만회'</p>
                                                </div>
                                            </div>
                                        </a>
                                        <a
                                            href="https://www.youtube.com/watch?v=bwC1112Wh_o&t=853s"
                                            target="_blank"
                                            class="list-group-item list-group-item-action list"
                                        >
                                            <div class="d-inline-flex w-100 justify-content-start">
                                                <img
                                                    src="../static/thumb.png"
                                                    style="width: 140px; height: 80px"
                                                />
                                                <div class="list-body">
                                                    <h5>노래 제목</h5>
                                                    <span>가수</span>
                                                    <p>조회수 '12만회'</p>
                                                </div>
                                            </div>
                                        </a>
                                        <a
                                            href="https://www.youtube.com/watch?v=bwC1112Wh_o&t=853s"
                                            target="_blank"
                                            class="list-group-item list-group-item-action list"
                                        >
                                            <div class="d-inline-flex w-100 justify-content-start">
                                                <img
                                                    src="../static/thumb.png"
                                                    style="width: 140px; height: 80px"
                                                />
                                                <div class="list-body">
                                                    <h5>노래 제목</h5>
                                                    <span>가수</span>
                                                    <p>조회수 '12만회'</p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="accordion" id="accordionExample" style="margin-bottom: 32px">
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <h2 class="mb-0">
                                    <button
                                        class="btn btn-link text-muted collapsed"
                                        type="button"
                                        data-toggle="collapse"
                                        data-target="#collapseOne"
                                        aria-expanded="true"
                                        aria-controls="collapseOne"
                                    >
                                        코딩할 때 듣는 lo-fi
                                    </button>
                                </h2>
                            </div>

                            <div
                                id="collapseOne"
                                class="collapse"
                                aria-labelledby="headingOne"
                                data-parent="#accordionExample"
                            >
                                <div class="card-body">
                                    <div class="list-group list-group-flush">
                                        <a
                                            href="https://www.youtube.com/watch?v=bwC1112Wh_o&t=853s"
                                            target="_blank"
                                            class="list-group-item list-group-item-action list"
                                        >
                                            <div class="d-inline-flex w-100 justify-content-start">
                                                <img
                                                    src="../static/thumb.png"
                                                    style="width: 140px; height: 80px"
                                                />
                                                <div class="list-body">
                                                    <h5>노래 제목</h5>
                                                    <span>가수</span>
                                                    <p>조회수 '12만회'</p>
                                                </div>
                                            </div>
                                        </a>
                                        <a
                                            href="https://www.youtube.com/watch?v=bwC1112Wh_o&t=853s"
                                            target="_blank"
                                            class="list-group-item list-group-item-action list"
                                        >
                                            <div class="d-inline-flex w-100 justify-content-start">
                                                <img
                                                    src="../static/thumb.png"
                                                    style="width: 140px; height: 80px"
                                                />
                                                <div class="list-body">
                                                    <h5>노래 제목</h5>
                                                    <span>가수</span>
                                                    <p>조회수 '12만회'</p>
                                                </div>
                                            </div>
                                        </a>
                                        <a
                                            href="https://www.youtube.com/watch?v=bwC1112Wh_o&t=853s"
                                            target="_blank"
                                            class="list-group-item list-group-item-action list"
                                        >
                                            <div class="d-inline-flex w-100 justify-content-start">
                                                <img
                                                    src="../static/thumb.png"
                                                    style="width: 140px; height: 80px"
                                                />
                                                <div class="list-body">
                                                    <h5>노래 제목</h5>
                                                    <span>가수</span>
                                                    <p>조회수 '12만회'</p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </section>
                <section class="wrap col-4">
                    <div class="input-group comment-head">
                        <input
                            type="text"
                            class="form-control"
                            placeholder="댓글을 달아주세요"
                            aria-label="Recipient's username"
                            aria-describedby="button-addon2"
                        />
                        <button type="button" class="btn btn-outline-info" style="margin-left: 8px">
                            SEND
                        </button>
                    </div>

                    <div class="card" style="width: 360px">
                        <div class="card-body">
                            <p class="card-text">
                                Some quick example text to build on the card title and make up the
                                bulk of the card's content.
                            </p>
                            <h6 class="card-subtitle mb-2 text-muted">닉네임</h6>
                        </div>
                    </div>
                </section>
            </div>
        </article>

        <article></article>
    </body>
</html>
