# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\mygithub\web_mini\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
